---
import Root from "./Root.astro";
import Header from "../components/Header.astro";
import SocialFooter from "../components/SocialFooter.astro";

const { title,description,image } = Astro.props;
---
<Root {...Astro.props}>
  <div class="container-fluid">
    <header style="background:var(--header-bg); border-bottom:3px solid var(--brand-laser); color:var(--header-fg);">
      <Header />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <SocialFooter />
    </footer>
  </div>
</Root>
