---
import Root from "./Root.astro";
import Header from "../components/Header.astro";
import SocialFooter from "../components/SocialFooter.astro";

const { title,desciption,image } = Astro.props;
---
<Root {...Astro.props}>
  <div class="container-fluid">
    <header style="background-color:rgb(255, 56, 152)">
      <Header />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <SocialFooter />
    </footer>
  </div>
</Root>
